.footer {
    width: 100%;
    background: #fff;
    color: #111;
}

/* EDGE-TO-EDGE HR */
.footerHr {
    width: 100%;
    border: none;
    border-top: 3px solid #eee;

}

/* MAIN CONTENT */
.footerMain {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 6%;
    display: flex;
    gap: 30%;
    align-items: flex-start;
}

/* LOGO */
.footerLogo {
    height: 100px;
    width: 100px;
    flex-shrink: 0;
}

/* LINKS AREA */
.footerLinks {
    display: flex;
    gap: 80px;
    flex: 1;
    /* justify-content: flex-start; */
}

/* HEADINGS */
.footerLinks h1 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 14px;
}

/* LISTS */
.footerLinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* align-items: left; */
}

.footerLinks li {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 10px;
    cursor: pointer;
}

.footerLinks li:hover {
    color: #ff8800;
}

/* CONTACT ICONS */
.contactList span {
    color: #ff8800;
    margin-right: 8px;
}

/* SOCIAL ICONS */
.socials {
    display: flex;
    /* gap: 12px; */
    margin-top: 10px;
}

.socials img {
    height: 20px;
    width: 20px;
}

.socials li {
    padding: 6px 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff8800;
    font-size: 0.9rem;
    transition: all 0.2s ease;
}

.socials li:hover {
    background: #ff8800;
    color: #fff;
}

/* BOTTOM TEXT */
.footerBottom {
    text-align: center;
    padding: 5px 0;
    font-size: 0.9rem;
    color: #666;
}

/* -------------------- */
/* MOBILE RESPONSIVE */
/* -------------------- */
@media (max-width: 768px) {
    .footer {
        margin-top: 20%;
    }

    .footerHr {
        width: 100%;
        border: none;
        border-top: 5px solid #eee;
        /* margin-top: 20%; */
        margin-bottom: -10px;
    }

    .footerMain {
        flex-direction: column;
        gap: 40px;
        text-align: left;
        align-items: flex-start;
    }

    /* LOGO AT TOP */
    .footerLogo {
        margin-bottom: 5px;
        margin-top: -10%;
        height: 100px;
        width: 100px;
    }

    /* KEEP THREE SECTIONS IN A ROW */
    .footerLinks {
        width: 100%;
        justify-content: flex-start;
        gap: 40px;
        flex-wrap: wrap;
        text-align: left;
        margin-top: -30px;
    }

    .footerLinks h1 {
        font-size: 1rem;
    }

    .footerLinks li {
        font-size: 0.85rem;
    }

    .footer .contacts {
        display: flex;
        gap: 40px;
    }
}